<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Welcome to Project</title>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
	crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
<div class="card-header">
<div class="col-lg-5">

<div class="card-header">
<h3>Welcome to Project</h3>
</div>
<br/><br/>
<div class="card-header">
<h5>
<a th:href="@{/login}">To Login Please go to the Login Page</a>
</h5>
</div>

</div>
</div>

</div>
</body>
</html>